*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: Arial;
	background-color: #7dcea0;
	color: #d35400;
	line-height: 1.6;
}
header{
	background-color: #f0b27a ;
	color: #eb984e;
	text-align: center;
	padding: 20px 0;

}
h1 {
    font-size: 2.5em;
  }
  
  main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .faq-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .faq-item {
    border-bottom: 1px solid #ddd;
  }
  
  .faq-item:last-child {
    border-bottom: none;
  }
  
  .question {
    background-color: #a3e4d7;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
  }
  
  .answer {
    padding: 15px;
    background-color: #148f77;
    display: none;
  }
  
  .question:hover {
    background-color: #e2e2e2;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  
  /* Стили для раскрытия ответов */
  .faq-item.open .answer {
    display: block;
  }